@model IEnumerable<VoteOnIt_WebApp.Models.User>

@{
    ViewBag.Title = "Group Details";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="alert alert-info">
        <h3>Group Details</h3>
    </div>

    // Get Group ID
    string url = System.Web.HttpContext.Current.Request.Url.AbsolutePath;
    string groupID = url.Split('/').Last();

    <p>
        @Html.ActionLink("Join Group", "Join", new { id = groupID })
    </p>
    <hr>
    <p>
        @Html.ActionLink("Leave Group", "Leave", new { id = groupID })
    </p>
    <hr>

    if (Model == null)
    {
        <div class="panel panel-info">
            <div class="panel-heading">Current Users in Group</div>
            <table class="table table-hover">
                <tr>
                    <td class="list-group-item list-group-item-warning">No users in this group</td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div class="panel panel-info">
            <div class="panel-heading">Current Users in Group</div>
            <table class="table table-hover">
                <thead>
                        <tr>
                            <td>Username</td>
                        </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to Group Index", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}