﻿@model IEnumerable<VoteOnIt_WebApp.Models.Group>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-info">
        <h3>Group Index</h3>
    </div>

    <p>
        @Html.ActionLink("Create New Group", "Create", new { controller = "Groups" }, new { @class = "btn btn-default" })
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.GroupName)</th>
                <th>Actions:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Back to Group Index", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


