﻿@model VoteOnIt_WebApp.Models.JoinGroupViewModel

@{
    ViewBag.Title = "Join Group";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-success">
        <h3>Join Group</h3>
    </div>

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Join Group" class="btn btn-info" />
            </div>
        </div>
    </div>
    
}

<div>
    @Html.ActionLink("Back to Group Index", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


