﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Vote on it</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Vote On It", "Index", "Surveys", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Login", "Index", "Accounts", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Register", "Register", "Accounts", new { area = "" }, null)</li>
                        </ul>

                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Groups", "Index", "Groups", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Survey", "Index", "Surveys", new { area = "" }, null)</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown" style="position:relative;top: 15px;">
                                <button class="btn btn-warning btn-xs dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-list"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Surveys/Create"><span class="glyphicon glyphicon-question-sign" style="position:relative;right: 10px;"></span>Create Survey</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Surveys/MySurveys"><span class="glyphicon glyphicon-list" style="position:relative;right: 10px;"></span>My Surveys</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Accounts/Settings"><span class="glyphicon glyphicon-cog" style="position:relative;right: 10px;"></span>Settings</a></li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Accounts/Logout"><span class="glyphicon glyphicon-off" style="position:relative;right: 10px;"></span>Logout</a></li>
                                </ul>
                            </div>
                        <!--<li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>-->
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>CodeBlockers Inc&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
