﻿@model VoteOnIt_WebApp.Models.DeleteAccountViewModel

@{
    ViewBag.Title = "Delete Account";
}

<div class="alert alert-waring">
    <h3>Delete Account</h3>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete Account" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Settings", "Settings")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
