﻿
@{
    ViewBag.Title = "Change Address";
}

<div class="alert alert-waring">
    <h3>Edit User Adress</h3>
</div>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" style="position:relative;right: 5px;"></span>Account Settings</div>
                <div class="panel-body">@Html.ActionLink("Change Account Details", "EditDetails", "Account", new { area = "" }, null)</div>
                <div class="panel-body">@Html.ActionLink("Change Account Address", "EditAddress", "Account", new { area = "" }, null)</div>
                <div class="panel-body">@Html.ActionLink("Change Password", "EditPassword", "Account", new { area = "" }, null)</div>   
         </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-cog" style="position:relative;right: 5px;"></span>General Settings</div>
            <div class="panel-body">@Html.ActionLink("Delete Account", "DeleteAccount", "Account", new { area = "" }, null)</div>
        </div>
    </div>
}
