﻿@model VoteOnIt_WebApp.Models.EditSurveyViewModel

@{
    ViewBag.Title = "Edit Survey";
}

<div class="alert alert-info">
    <h3>Edit Survey</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>EditSurveyViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValidFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValidTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValidTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValidTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPrivate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPrivate)
                    @Html.ValidationMessageFor(model => model.IsPrivate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @if (Model.Questions.Any())
        {
            var questionCounter = 0;
            <h2>Questions</h2>
            <div class="questions">
                @foreach (var question in Model.Questions)
                {
                    var questionID = "question" + questionCounter;
                    <div id="@questionID">
                        <h3>Question @(questionCounter + 1)</h3>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Questions[questionCounter].Title, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Questions[questionCounter].Title, new {htmlAttributes = new {@class = "form-control", @name="tests"}})
                                @Html.ValidationMessageFor(model => model.Questions[questionCounter].Title, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Questions[questionCounter].Description, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Questions[questionCounter].Description, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Questions[questionCounter].Description, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Questions[questionCounter].Type, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Questions[questionCounter].Type, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Questions[questionCounter].Type, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        @{
                            var optionForQuestID = "optionsForQuest" + questionCounter;
                        }
                        <div id="@optionForQuestID">
                            @{
                                var optionCounter = 0;
                            }
                            @foreach (var option in question.Options)
                            {
                                var optionID = "option" + optionCounter;
                                <div id="@optionID" class="col-md-offset-2">
                                    <h4>Option @(optionCounter + 1)</h4>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Questions[questionCounter].Options[optionCounter].Name, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Questions[questionCounter].Options[optionCounter].Name, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.Questions[questionCounter].Options[optionCounter].Name, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Questions[questionCounter].Options[optionCounter].Explanation, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Questions[questionCounter].Options[optionCounter].Explanation, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.Questions[questionCounter].Options[optionCounter].Explanation, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Questions[questionCounter].Options[optionCounter].IsCorrect, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Questions[questionCounter].Options[optionCounter].IsCorrect, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.Questions[questionCounter].Options[optionCounter].IsCorrect, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    @{
                                        optionCounter++;
                                        var addOptionButtonID = "buttonQuestion" + questionCounter + "Option" + (optionCounter - 1);
                                    }
                                    @if (optionCounter >= question.Options.Count)
                                    {
                                        <input type="button" onclick="addOption(@questionCounter, @(optionCounter - 1))" id="@addOptionButtonID" value="Add Option" class="btn btn-default" />
                                    }

                                    @if (optionCounter > 2)
                                    {
                                        var deleteButtonName = "buttonQuestion" + questionCounter + "Option" + (optionCounter - 1) + "Delete";
                                        <input type="button" onclick="deleteOption(@questionCounter, @(optionCounter - 1))" id="@deleteButtonName" value="Delete Option" class="btn btn-default" />
                                    }
                                </div>
                            }
                           
                        </div>
                        <br/>
                        @{
                            var addQuestionID = "buttonQuestion" + questionCounter;
                            var addQuestionIDDelete = "buttonQuestion" + questionCounter + "Delete";

                        }
                        @if (questionCounter+1 >= Model.Questions.Count)
                        {
                            <input type="button" onclick="addQuestion(@questionCounter)" id="@addQuestionID" value="Add Question" class="btn btn-default" />
                        }            
                        <input type="button" onclick="deleteQuestion(@questionCounter)" id="@addQuestionIDDelete" value="Delete Question" class="btn btn-default"/>
                    </div>
                    questionCounter++;
            }
            </div>
            <br />

         }
        <br />

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to My Surveys", "MySurveys")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/questionsOptionsHelpers.js"></script>