﻿@model IEnumerable<VoteOnIt_WebApp.Models.SurveyViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome @HttpContext.Current.User.Identity.Name</h2>


<p style="float: left">
    <!--@Html.ActionLink("My Surveys", "MySurveys", new { controller = "Surveys" }, new { @class = "btn btn-default" })
    <br/>
    <br />-->
    @Html.ActionLink("Create New Survey", "Create", new { controller = "Surveys" }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
                @if (item.Questions.Any())
                {
                    @Html.ActionLink("Start Survey", "StartSurvey", new { id = item.Id }, new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("Start Survey", "StartSurvey", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
            </td>
        </tr>
    }

</table>