﻿@model IEnumerable<VoteOnIt_WebApp.Models.SurveyViewModel>

@{
    ViewBag.Title = "MySurveys";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert alert-info">
        <h3>My Surveys</h3>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create", new { controller = "Surveys" }, new { @class = "btn btn-default" })
    </p>
    <hr>
    if (Model == null)
    {
        <div class="panel panel-success">
            <div class="panel-heading">Your Surveys</div>
            <table class="table table-hover">
                <tr>
                    <td class="list-group-item list-group-item-warning">No surveys created</td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div class="panel panel-success">
            <div class="panel-heading">Your Surveys</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Valid To</th>
                        <th>Is Private</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsPrivate)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                <!--@Html.ActionLink("Details", "Details", new { id = item.Id }) |-->
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<div>
    @Html.ActionLink("Back to Survey Index", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
