﻿@model VoteOnIt_WebApp.Models.SurveyResultViewModel

@{
    ViewBag.Title = "ShowSurveyResults";
}

<div>
    <h1>@Html.DisplayFor(model => model.SurveyTitle)</h1>
    <h3>Correct Answers: @Model.CorrectAmount / @Model.Questions.Count</h3>
    <hr />
    <ul class="dl-horizontal">
        @foreach (var quest in Model.Questions)
        {
            <li>
                @quest.QuestionTitle
            </li>
            <div>
                @foreach (var answer in quest.Answers)
                {
                    <ul>
                        <li>
                            @answer.AnswerTitle
                            <ul>
                                <li>Your Choice: @answer.UsersChoice</li>
                                <li>Correct Answer: @answer.IsCorrect</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
