﻿@model VoteOnIt_WebApp.Models.StartSurveyViewModel

@{
    ViewBag.Title = "Start Survey";
    int questionCount = 0;
    int optionCount = 0;
    int questionTextCount = 0;
}
@using (Html.BeginForm())
{
    <input name="Questions" type="hidden" value="@Model.Questions.ToArray()">
    <h1>@Model.Title</h1>
    foreach (var question in Model.Questions)
    {
        questionTextCount++;
        <h3>Question @questionTextCount</h3>
        <ul>
            <li>Title: @question.Title</li>
            <input name="Answers[@questionCount].QuestionNumber" type="hidden" value="@questionCount">
            <li>
                Answer:
                @foreach (var option in question.Options)
                {

                    <ul>
                        <li>
                            @option.Name
                            <input name="Answers[@questionCount].Choices[@optionCount].Value" id="quest @questionCount option @optionCount" type="checkbox" value="true">
                            <input name="Answers[@questionCount].Choices[@optionCount].Value" type="hidden" value="false">
                            <input name="Answers[@questionCount].Choices[@optionCount].OptionNumber" type="hidden" value="@optionCount">
                        </li>
                    </ul>
                    optionCount++;
                }
                @{questionCount++; optionCount = 0;}
            </li>
        </ul>
                    }


                    <input type="submit" value="Done" class="btn btn-default" />
                    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
